{{!-- <div class="Mockups">
  <img src="/assets/icons/mock.png" alt="Nuclid">
</div> --}}

{{!-- <div class="Customers">
  <section>
    <nav class="level">
      <p class="level-item has-text-centered">
        <img src="/assets/icons/addo_foods.png" alt="Addo Foods" style="height: 50px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="/assets/icons/gs_fresh.png" alt="G's Fresh" style="height: 65px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="/assets/icons/natures_way.png" alt="Natures Way" style="height: 55px;">
      </p>
      <p class="level-item has-text-centered">
        <img src="/assets/icons/raynor_foods.png" alt="Raynor Foods" style="height: 55px;">          
      </p>
    </nav>
  </section> --}}

  <section class="video is-centered">
    <div class="container">
      <div class="columns">
        <div class="column">
          {{!-- <youtube :video-id="video1"></youtube>
          <iframe class="iframe" src="https://youtube.com/embed/cCHnKWfrNEE" allowfullscreen></iframe> --}}
          <img src="/assets/icons/workflow.png" alt="Nuclid workflow">
        
        </div> 
      </div>
    </div>
  </section>
  
    <div class="rapid-title columns has-text-centered is-centered">
      <div class="column is-8">
        <h3 class="title">PCR made accessible</h3>
      </div>
    </div>
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
  	    <div class="box">
  				<figure class="image is-64x64">
						<i class="lni-power-switch size-lg"></i>
  				</figure>
          <h3>Affordable</h3>
          <h4>
            Low capital expenditure - just buy an off-the-shelf heating block and you can begin testing anywhere.
          </h4>
  			</div>
      </div>
      <div class="column">
				<div class="box">
  				<figure class="image is-64x64">
						<i class="lni-target size-lg"></i>
  				</figure>
  				<h3>Effortless</h3>
  				<h4>
          Simplified workflow allows everyone to conduct a PCR test by watching a short training video on Youtube.  
  				</h4>
  			</div>
      </div>
      <div class="column">
        <div class="box">
          <figure class="image is-64x64">
            <i class="lni lni-bolt size-lg"></i>  
          </figure>
          <h3>Accurate</h3>
  				<h4>
            Instrument is designed to extract and amplify RNA from saliva samples, providing accurate results in 30 minutes.
          </h4>
        </div>
  	  </div>
    </div>
  </div>
</div>
