
<div class="MainHero">
  <div id="angles" class="">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
  			<div class="columns">
  				<div class="column is-6">
    	      <h1 class="title">
              Covid-19: Affordable PCR test that can be used by anyone
    	      </h1>
            <div class="sub">
              <h2>
              Diagnostic instrument that allows anyone to accurately diagnose Covid-19 with a standard heating block
              </h2>
            </div>
            <p>
              <br>
              <a href="#register" class="button CTA-Button">Send me details</a>
            </p>
  				</div>
  			</div>
      </div>
    </div>
  </section>
</div>

