
<div class="MainHero">
  <div id="angles" class="">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
  			<div class="columns">
  				<div class="column is-6">
    	      <h1 class="title">
              Covid-19 affordable PCR test for non-technical users
    	      </h1>
            <div class="sub">
              <h2>
              Diagnostic instrument allows anyone to conduct a PCR test with a simple heating block 
              </h2>
            </div>
            <p>
              <br>
              <a href="#register" class="button CTA-Button">Send me details</a>
            </p>
  				</div>
  			</div>
      </div>
    </div>
  </section>
</div>

